/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f8ff;
    color:#0f172a;
}

/* NAVBAR */
header{
    width:100%;
    position:fixed;
    top:0;
    z-index:1000;
    background:#ffffff;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

nav{
    width:90%;
    margin:auto;
    padding:20px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#2563eb;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    gap:30px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:#0f172a;
    font-weight:600;
    transition:0.3s;
}

nav ul li a:hover{
    color:#2563eb;
}

/* HERO */
.hero{
    min-height:100vh;
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:10px;
}

.hero-text span{
    color:#2563eb;
}

.hero-text h3{
    color:#3b82f6;
    margin-bottom:20px;
}

.hero-text p{
    line-height:1.8;
    margin-bottom:30px;
}

/* BUTTON */
.btn,
.btn2{
    padding:12px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.btn{
    background:#2563eb;
    color:white;
}

.btn:hover{
    background:#1d4ed8;
}

.btn2{
    border:2px solid #2563eb;
    color:#2563eb;
    margin-left:10px;
}

.btn2:hover{
    background:#2563eb;
    color:white;
}

/* FOTO PROFIL AESTHETIC */
.hero-image img{
    width:320px;
    height:400px;
    object-fit:cover;

    border-radius:30px;

    border:5px solid white;

    box-shadow:
    0 10px 30px rgba(37,99,235,0.2);

    transition:0.4s ease;
}

.hero-image img:hover{
    transform:translateY(-10px) scale(1.02);
}

/* SECTION */
section{
    padding:100px 10%;
}

section h2{
    text-align:center;
    font-size:40px;
    margin-bottom:50px;
    color:#2563eb;
}

/* CARD */
.card,
.cert-card,
.skill{
    background:white;
    border-radius:20px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
    transition:0.3s;
}

.card:hover,
.cert-card:hover{
    transform:translateY(-10px);
}

/* PROJECT */
.project-container,
.cert-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.card img{
    width:100%;
    border-radius:15px;
    margin-bottom:15px;
}

/* SKILL */
.progress{
    background:#dbeafe;
    border-radius:20px;
    overflow:hidden;
}

.progress-bar{
    background:#2563eb;
    padding:8px;
    color:white;
    text-align:center;
}

/* CONTACT */
form{
    display:flex;
    flex-direction:column;
    gap:20px;
}

form input,
form textarea{
    padding:15px;
    border:none;
    border-radius:12px;
    background:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.05);
}

form button{
    background:#2563eb;
    color:white;
    border:none;
    padding:15px;
    border-radius:12px;
    cursor:pointer;
    font-weight:bold;
}

form button:hover{
    background:#1d4ed8;
}

/* FOOTER */
footer{
    background:#2563eb;
    color:white;
    text-align:center;
    padding:20px;
}

/* RESPONSIVE */
@media(max-width:900px){

    .hero{
        flex-direction:column-reverse;
        text-align:center;
        padding-top:120px;
    }

    nav ul{
        display:none;
    }

    .hero-text h1{
        font-size:40px;
    }

    .hero-image img{
        width:260px;
        height:330px;
    }
}